<form action="/books" method="post">
  <input type="text" name="title" placeholder="Title" />
  <div>
    <% @authors.each do |a| %>
    <input type="radio" id="<%= a.id %>" name="author_id" value="<%= a.id %>" />
    <label for="<%= a.id %>"><%= a.name %></label>
    <% end %>
  </div>
  <input type="submit" value="submit" />
</form>
