<form action="/songs/<%= @song.id %>" method="post">
  <input type="text" name="song[name]" placeholder="Name" value="<%= @song.name %>"/>
  <input type="submit" value="Update Song"/>
  <input type="hidden" name="_method" value="PATCH">
</form>
