<form action="/songs" method="post">
  <input type="text" name="song[name]" placeholder="Name"/>
  <input type="text" name="song[artist_name]" placeholder="Artist"/>
  <input type="submit" value="Create Song"/>
</form>
