<form action="/artists" method="post">
  <input type="text" name="artist[name]" placeholder="Name"/>
  <input type="text" name="artist[hometown]" placeholder="Hometown" />
  <input type="submit" value="Create Artist"/>
</form>
